.auth-page {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #0a0a0a, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.auth-card {
  width: 420px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  color: #ededed;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}
